Fleazar/.idea/.name
Fleazar/.idea/compiler.xml
Fleazar/.idea/copyright/profiles_settings.xml
Fleazar/.idea/encodings.xml
Fleazar/.idea/gradle.xml
Fleazar/.idea/libraries/appcompat_v7_20_0_0.xml
Fleazar/.idea/libraries/support_annotations_20_0_0.xml
Fleazar/.idea/libraries/support_v4_20_0_0.xml
Fleazar/.idea/misc.xml
Fleazar/.idea/modules.xml
Fleazar/.idea/scopes/scope_settings.xml
Fleazar/.idea/vcs.xml